.container {
    margin: 0 auto;
    width:960px;
    overflow: auto;

    

}
#img {
    width: 200px;
    height: 200px;
    display: inline;
    float: left;

}
html {
 
}
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
   
    
    
}

h1 {
   background-color: #4aaaa5;
   color: white;
   font-family: Georgia, 'Times New Roman', Times, serif;
   display: inline;
   padding: 20px;
   margin-bottom: 0%;
}

nav {
    padding: 20px;
    
    
}
nav ul li a {
    text-decoration: none;
    color:#cccccc;
    

}
header div {
    display: flex;
    justify-content: space-between;
}
 header {
     background-color: white;
    
    

}
section div {
    background-color: white;
    margin: 20px;
    padding: 20px;
    



}
section {
    padding: 20px 20px 80px 20px;
    background-image: url("trees/trees.png");
}
h2 {
    color:#4aaaa5;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section p {
    margin: 10px;
    padding: 10px;
}




footer {
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    padding-top: 20px;
}
hr {
    border: 1px solid #cccccc;
}
#bio {
    position: relative;
    left: 15px;
    color:grey
}

#img1 {
    float: left;
    width: 200px;
    height: 200px;
}
#img2 {
    float: left;
    width: 200px;
    height: 200px;
}

#img3 {
    float: left;
    width: 200px;
    height: 200px;
    left: 277px;
    position: absolute;
    top: 400px;
}
#img4 {
    float: left;
    width: 200px;
    height: 200px;
    left:478px;
    position: absolute;
    top: 400px;
}
#img5 {
    float: left;
    width: 200px;
    height: 200px;
    right:1016px;
    position: absolute;
    top:600px;
}
#big {
    height: 715px;
}
#big2 {
    height: 715px;
}


